*, *::after, *::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Barlow', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}