.gallery {

    &__image {

        img {
            display: block;
        }
    }

    &__image--flex-grow {
        
        display: flex;

        img {
            flex-grow: 1;
            object-fit: cover;
        }

    }

    &__image--max-height {
        max-height: 600px;
    }

   
}