.generic-text {
    
    p {
        line-height: 1.6;
        color: $darkGrayishBlue;
    }

    &--cyan p {
        color: $darkDesaturatedCyan;
    }

    &--blue p {
        color: $darkBlue;
    }
}