.headline {

        margin: 0;
        line-height: 1.2;
        font-family: 'Fraunces', sans-serif;

        &--smaller {

            font-size: 1.2rem;
            
            @mixin atSmall {
                font-size: 1.5rem;
            }
        }

        &--small {
            font-size: 1.7rem;

            @mixin atLarge {
                font-size: 2rem;
            }
        }

        &--large {
            font-size: 1.875rem;

            @mixin atLarge {
                font-size: 3.4375rem;
            }
        }

        &--centered {
            text-align: center;
            letter-spacing: 5px;
        }

        &--uppercase {
            text-transform: uppercase;
        }

        &--light {
            color: $darkGrayishBlue;
        }

        &--dark {
            color: $veryDarkDesaturatedBlue;
        }

        &--cyan {
            color: $darkDesaturatedCyan;
        }

        &--blue {
            color: $darkBlue;
        }
}